<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="./dash.css">
  <script src="./bundle.js"></script>
  <script src="./chartist/chartist.min.js"></script>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <style>
    #map {
      height: 400px;
      width: 100%;
    }
  </style>
  <title>DashBoard</title>
</head>

<body>
  <h3 class="mx-auto">
    <div class="div text-center">
      <h3 class="display-4">Passengers per day</h3>
    </div>
  </h3>

  <div class="Chartholder my-5 mx-auto" style="width:640px; height:640px">
    <div class="ct-chart ct-perfect-fifth"></div>
  </div>

  <div id="map"></div>

  <script>
    function initMap() {
      var location1 = { lat: -33.8840529, lng: 151.2003281 };
      var location2 = { lat: -33.8836871, lng: 151.2025798 };


      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 17,
        center: location1
      });

      var bound = new google.maps.LatLngBounds();

      var marker = new google.maps.Marker({
        position: location1,
        map: map
      });

      var marker = new google.maps.Marker({
        position: location2,
        map: map
      });

      var marker = new google.maps.Marker({
        position: location3,
        map: map
      });

      var marker = new google.maps.Marker({
        position: location4,
        map: map
      });

      initMarkers();
      for (var i in markers) {
        bound.extend(markers[i].getPosition());
      }
      map.fitBounds(bound);
    }
  </script>

  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB882sFpXdRVkSItKRRJUl-vpK-io0q12E&callback=initMap"
    type="text/javascript"></script>


</body>


<script>

  var data = {
    labels: [["238"], ['842'], ['384'], ['382']],
    series: [
      [5, 10, 7, 4]
    ]
  };

  var options = {
    seriesBarDistance: 5
  };



  var responsiveOptions = [
    ['screen and (max-width: 1024px)', {
      seriesBarDistance: 10,
      axisX: {
        labelInterpolationFnc: function (value) {
          return value[0];
        },
        axisY: {
          type: Chartist.AutoScaleAxis,
          low: 0,
          scaleMinSpace: 20
        },
      }
    }]
  ];

  window.chart = new Chartist.Bar('.ct-chart', data, options, responsiveOptions);
</script>

</html>